@use "./index.scss" as vars;

.discount {
  display: flex;
  justify-content: center;
  background-color: vars.$accent-color;
  padding: 0.7em;
  @media (max-width: 1440px) {
    display: none;
  }
  p {
    font-family: "Lato";
    font-weight: 400;
    font-size: 16px;
    color: vars.$font-white-color;
    span {
      font-weight: 900;
    }
  }
}
