@use "./index.scss" as vars;

.wrapper {
  background-image: url("../assets/topimg.png");
  background-position: 0% 43%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 984px;
  header {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    padding: 3em;
    nav {
      a {
        font-size: 18px;
        text-decoration: none;
        color: vars.$font-white-color;
        font-family: "Lato";
      }
      display: flex;
      flex-flow: row;
      gap: 4em;
    }
  }
}
