@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
$accent-color: #8b4513;
$font-white-color: #ffffff;
$font-black-color: #3e3e3e;

@keyframes slidein {
  from {
    opacity: 80%;
    filter: hue-rotate(5deg);
  }
  to {
    opacity: 100%;
    filter: hue-rotate(0deg);
  }
}

* {
  animation: slidein 1s ease alternate;
  padding: 0;
  margin: 0;
  transition: all 0.3s ease;
}
