@use "./index.scss" as vars;

.main {
  background-color: #000;
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  .notfound {
    .text {
      position: absolute;
      z-index: 999;
      width: 100%;
      top: 50%;
      text-align: center;
    }
    .img {
      height: 35em;
      width: 35em;
    }
    position: relative;
    text-decoration: none;
    font-family: "Times New Roman";
    font-size: 1em;
    color: vars.$font-white-color;
  }
}
