@use "./index.scss" as vars;

.wrapper {
  display: flex;
  gap: 30%;
  position: relative;
  flex-flow: column;
  padding: 3em;
  background-image: url("../assets/topimg.png");
  background-position: 0% 43%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  &__text {
    position: absolute;
    top: 30%;
    display: flex;
    flex-flow: column;
    gap: 2em;
    h1 {
      font-family: "Lato";
      font-size: 16px;
      font-weight: 500;
      color: vars.$font-white-color;
    }
    h2 {
      font-family: "Playfair Display";
      font-size: 4vw;
      font-weight: 100;
      color: vars.$font-white-color;
    }
  }
  &__items {
    position: absolute;
    left: 74%;
    display: flex;
    flex-flow: column;
    gap: 2em;
    bottom: 5%;
    &__item__reverse {
      background-color: vars.$font-white-color;
      display: flex;
      flex-flow: row-reverse;
      &__text {
        display: flex;
        flex-flow: column;
        gap: 25%;
        padding: 16px;
        h1 {
          font-family: "Playfair Display";
        }
        h2 {
          font-family: "Lato";
          font-size: 20px;
          font-weight: 400;
        }
      }
      &__img {
        img {
          height: 100%;
          width: 100%;
        }
      }
    }
    &__item {
      background-color: vars.$font-white-color;
      display: flex;
      &__text {
        display: flex;
        flex-flow: column;
        gap: 25%;
        padding: 16px;
        h1 {
          font-family: "Playfair Display";
          font-size: 26px;
        }
        h2 {
          font-family: "Lato";
          font-size: 20px;
          font-weight: 400;
        }
        a {
          font-size: 14px;
          font-family: "Lato";
          color: vars.$font-black-color;
        }
      }
      &__img {
        img {
          height: 100%;
          width: 100%;
        }
      }
    }
  }
}
