@use "./index.scss" as vars;

.wrapper {
  display: flex;
  gap: 30%;
  position: relative;
  flex-flow: column;
  padding: 3em;
  background-image: url("../assets/topimg.png");
  background-position: 0% 43%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  .header {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    &__nav {
      &__links {
        font-size: 18px;
        text-decoration: none;
        color: vars.$font-white-color;
        font-family: "Lato";
        display: inline-block;
        position: relative;
        text-decoration: none;
        transition: color 0.3s ease;
      }
      ::after {
        content: "";
        position: absolute;
        width: 0;
        height: 2px;
        bottom: -5px;
        left: 0;
        background-color: vars.$font-black-color;
        transition: width 0.3s ease;
      }
      :hover {
        color: vars.$font-black-color;
      }
      :hover::after {
        width: 100%;
      }
      display: flex;
      flex-flow: row;
      align-items: center;
      gap: 4em;
    }
    &__search {
      align-items: center;
      display: flex;
      gap: 1.5em;
      svg {
        height: 24px;
        width: 24px;
      }
      &__btn {
        transition: all 0.3s ease;
        align-items: center;
        display: flex;
        gap: 0.5em;
        width: 15em;
        padding: 1em;
        background-color: vars.$font-white-color;
        font-size: 14px;
        text-decoration: none;
        color: vars.$font-black-color;
        font-family: "Lato";
        svg {
          height: 16px;
          width: 16px;
        }
      }
      :hover {
        color: vars.$font-white-color;
        background-color: vars.$font-black-color;
      }
    }
    &__logo {
      transition: all 0.3s ease;
      svg {
        width: 14vw;
        height: 3vw;
      }
    }
    &__logo:hover {
      transform: scale(1.1);
    }
  }
  &__text {
    display: flex;
    flex-flow: column;
    gap: 2em;
    h1 {
      font-family: "Lato";
      font-size: 16px;
      font-weight: 500;
      color: vars.$font-white-color;
    }
    h2 {
      font-family: "Playfair Display";
      font-size: 4vw;
      font-weight: 100;
      color: vars.$font-white-color;
    }
  }
  &__items {
    position: absolute;
    left: 74%;
    display: flex;
    flex-flow: column;
    gap: 2em;
    bottom: 5%;
    &__item__reverse {
      background-color: vars.$font-white-color;
      display: flex;
      flex-flow: row-reverse;
      &__text {
        display: flex;
        flex-flow: column;
        gap: 25%;
        padding: 16px;
        h1 {
          font-family: "Playfair Display";
        }
        h2 {
          font-family: "Lato";
          font-size: 20px;
          font-weight: 400;
        }
      }
      &__img {
        img {
          height: 100%;
          width: 100%;
        }
      }
    }
    &__item {
      background-color: vars.$font-white-color;
      display: flex;
      &__text {
        display: flex;
        flex-flow: column;
        gap: 25%;
        padding: 16px;
        h1 {
          font-family: "Playfair Display";
          font-size: 26px;
        }
        h2 {
          font-family: "Lato";
          font-size: 20px;
          font-weight: 400;
        }
        a {
          font-size: 14px;
          font-family: "Lato";
          color: vars.$font-black-color;
        }
      }
      &__img {
        img {
          height: 100%;
          width: 100%;
        }
      }
    }
  }
}
